:root {
 --armband-pink: #e8866a; 
 --raleway-font: 'Raleway', sans-serif;
 --gv-font: 'Great Vibes', cursive;
}

html,
body{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #786b7d;
  /* background-color: #ded5d5; */
}

.ui .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.navbar {
    display: flex; 
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 1rem;
    align-items: left;
    justify-content: left; 
}
.home-container {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column; 
    } 

    .ui.button, .ui.buttons .button, .ui.buttons .or {
        margin: 1rem;
    }

    .home-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
    }
}




.heading-name {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    color: #f5f2f2;
    margin-top: 1rem; 
    padding-top: 1rem;
    font-size: 3rem;
} 

.signature {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 2.5rem;
}

.photo {
  border-radius: 5%;
  text-align: center;
  margin: 2rem;
  border: 15px solid #f5f2f2;
  box-shadow: 2.5px 5px #080808;
} 

.ui .segment {
    box-shadow: 5px 10px 	#080808;
}

.flex-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter {
    margin: 3rem;
    display: flex;
    flex-direction: column;
} 

.main-text {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}  

.megan:hover {
    color:black;
}
.centered {
    text-align: center;
}

.welcome-message {
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem;
    text-align: center; 
    color: #f5f2f2;
}

.gallery-header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.gallery-artist {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.ui .card {
    border: 15px solid #f5f2f2;
    box-shadow: 2.5px 5px #080808;
} 

.ui .cards {
    padding: 2rem;
}

.coming-soon {
    color: #f5f2f2; 
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.subheader {
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    text-align: center; 
    margin-top: -20px;
}

.page-footer {
    color: 	#080808;
    text-align: center; 
    font-family: 'Handlee', sans-serif; 
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
} 

.page-footer a {
    color: var(--armband-pink);
    text-decoration: underline;
}