:root {
 --armband-pink: #e8866a; 
 --raleway-font: 'Raleway', sans-serif;
 --gv-font: 'Great Vibes', cursive;
}

html,
body{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #072d3d;
}

.ui .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.heading-name {
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
    padding-top: 1rem;
    color: #fff;
}

.signature {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 2.5rem;
}

.photo {
  border-radius: 5%;
  text-align: center;
  margin: 2rem;

}

.flex-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.letter {
    margin: 3rem;
    display: flex;
    flex-direction: column;
} 

.main-text {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Handlee', sans-serif
}